body {
    background-color: #1F1F1F;
    color: lightgrey;
}

div {
    display: flex;
    flex-direction: column;
}

.game {
    display: grid;
    grid-template-areas: "air air dungeon store"
                         "water water dungeon store"
                         "earth earth dungeon store"
                         "fire fire dungeon store";
    padding: 20px;
}

#air {
    grid-area: air;
    flex-direction: row;
    justify-content: space-around;
    border: 2px dotted skyblue;
}

#dungeon {
    grid-area: dungeon;
    border: 2px dotted darkred;
}

#store {
    grid-area: store;
    border: 2px dotted goldenrod;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-item {
    align-items: center;
    justify-content: center;
}

#airbag-percent {
    text-align: center;
}

.store-row {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.store-col + div {
    height: 100%;
}

.hidden {
    display: none;
}